.landingtxt{
    font-size: 50px;
    color: white;
}

.landing_aboutme {
    bottom: -150px !important;
    min-height: 260px; 
}
.aboutmetxt {
    font-size: 60px;
    color: white;
    text-align: right;
}

.pftxt {
    font-size: 60px;
    color: white;
    text-align: center;
    padding-top: 100px;
}


@media (max-width: 600px) {
    .landing_aboutme {
        bottom: -150px !important;
    }
}


